*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hhh{
    background-image: url(../../Assets/night-view.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f0f8ffda;
}