*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hhh{
    background-image: url(../../Assets/night-view.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f0f8ffda;
}

.morph{
    background: #6f00d8b3;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.temp-cont{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}